@import "../../app.component";


.details-page {
  position: relative;
  margin-top: 30px;
  .sidebar {
    min-height: 100vh;
  }
  .show-sidebar {
    display: block;
    box-shadow:
      inset 0 -3em 3em rgba(0,0,0,0.1),
      0 0  0 2px rgb(255,255,255),
      0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin-right: 20px;
  }

  .hide-sidebar {
    display: none;

  }
  h2 {
    margin:20px 0;
    text-transform: capitalize;
  }
  span {
    display: block;
  }

  .btn {
    margin-top: 30px;
    svg {
      width: 15px;
      height: 15px;
      position: relative;
      top: -1px;
    }
  }

}

@media only screen and (max-width: 768px)  {
  .details-page {
    .sidebar {
      width: 100%;
      min-height: 300px;
    }
  }
}
